# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Visual Studio Code
.vscode

*.vcxproj
*.vcxproj.filters

# Build files
build/*
! build/Debug*
CMakeFiles

# Visual Studio
.vs

# Project Files
*.pdb
*.sln
*.user

# Log files
*.log
*.iobj
*.tlog*
*.ipdb
*.recipe

# Secrets
*secret*